body {
	/* font short hand: style, variant, weight, size, family; */
	font: normal normal 400;
	font-size: 85%;
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	position: relative;
	left: 16.66%;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	width: 65%;
	font-size: 1.2em;
}

p[id="header_content"]{
	width: 50%;
}

img{
	max-width: 100%;
	height: auto;
	border-radius: 50px;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1.8em;
	position:relative;
	top: 1em;
}

h1 {
	font-weight: bold;
	font-size: 3em;
	position: relative;
	width: 50%;
	top: 8.33%;
	left: 40%;
	line-height: 1em;
	margin-left: 1em;
	margin-top: -2.6em;
}

h1+p { 
	/*subtitle*/
	position: relative;
	font-style: italic;
	font-size: 110%;
	margin-top: 0em;
	margin-bottom: 1.3em;
	left: 40%;
}

h2 {
	font-weight: bold;
	position: relative;
	font-size: 1.5em;
	color: #00796b;
	left: 10%;
}

h3 {
	position: relative;
	font-size: 1.2em;
	left: 16.66%;
	margin-bottom: 0.8em;
	line-height: 1em;
	width: 65%;
}

hr {
	position: relative;
	width:80% ;
}
code {
	font-weight: bold;
}

ul {
	position: relative;
	left: 20.66%;
	width: 65%;
	margin-bottom: 1.5em;
	margin-top: -0.5em;
}

#inside_ul {
 	position: relative;
	left: 3.33%;
	width: 65%;
	margin-top: 0.2em;
	margin-bottom: 1.5em;
 }
#inside_ul > li {
	font-size: 1em;
}

#education{
	margin-top: 1.3em;
}

li:before {
	content: "-";
	margin-right: 0.5em;
}

li {
	font-size: 1.2em;
}

a {
	color: black;
}

a:hover {
	color:#8bc34a
}

strong {
	font-weight: bold;
}
